.app-header {
  width: 100%;
  padding: 0 0.25em;
  background-color: mediumseagreen;
  color: aliceblue;
  display: flex;
  justify-content: space-between;
  align-items: center;
}



.description {
  width: 500px;
  height: 200px;
  margin: 20px;
  border-radius: 10px;
}

.btn-address {
  background-color: coral;
  padding: 10px;
  border-radius: 10px;
}


.btn-submit {
  background-color: coral;
  padding: 10px;
  border-radius: 10px;
}