
* {
  box-sizing: border-box;
}

.container {
  margin: 0 rem;
  text-align: center;
  background-color: rgba(216, 204, 200, 0.547);
}

.home-image-bird {
  background-size: cover;
        height: 80vh;
        width: 70vw;
}

.photo-smokin-rmd {
height: 40vh;
width: 20vw;
border: 10px solid rgba(216, 204, 200, 0.547);
display: flex-center;

}

.nav {
  background-color: chocolate;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  gap: 2rem;
  padding: 2rem;
}

.site-title {
  font-size: 2.5rem;
  font-style: bold;
}

.nav ul {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  gap: 1rem;
  font-size: 1.5rem;
}

.nav a {
  color: inherit;
  text-decoration: none;
  height: 100%;
  display: flex;
  align-items: center;
  padding: .25rem;
}

nav li.active {
  background-color: #555;

}

nav li:hover {
  background-color: sandybrown;
}


.h3 {
    color: black;
    font: bold;
    display: flex;
    margin: 20px;
}

.hazard-description {
  width: 500px;
  height: 150px;
  margin: 20px;
  border-radius: 10px;
  border: solid chocolate;
  display: flex;
}

.user-name {
  width: 500px;
  height: 35px;
  margin: 20px;
  border-radius: 10px;
  border: solid chocolate;
  display: flex
}

.hazard-date {
  width: 500px;
  height: 35px;
  margin: 20px;
  border-radius: 10px;
  border: solid chocolate;
  display: flex
}

.user-phone {
  width: 500px;
  height: 35px;
  margin: 20px;
  border-radius: 10px;
  border: solid chocolate;
  display: flex;
}

.new-image {
  display: flex;
  margin: 20px;
  border-radius: 10px;
  width: 500px;
  height: 150px;
  border: solid chocolate;
  background-color: white;
}

.choose-image {
  display: flex;
  margin:20px;
}



.btn-submit {
  background-color: white;
  padding: 10px;
  border-radius: 10px;
  margin: 20px;
  margin-bottom: 40px;
  width: 150px;
  height: 30px;
  display: flex;
  font: bold 15px arial;
 justify-content: center;
 align-content:center;
 border-color: solid chocolate;
}


footer {
  width: 100%;
  padding: 0.5em;
  background-color: chocolate;
  color: white;
  display: grid;
  place-content: center;
}