.main{
    display: flex;
    
    margin-top: 20px;
}

label{
    color: black;
}
.upload-image{
    height: 25px;
    width: 200px;
    background-color: coral;
    text-align: center;
    border-radius: 10px;
    padding: 10px;
    border-color: black;
    margin: 20px;
}